.extraLarge {
  font-size: calc(45px + 0.390625vw);
}
.large {
  font-size: calc(36px + 0.390625vw);
}
.medium {
  font-size: calc(30px + 0.390625vw);
}
.small {
  font-size: calc(15px + 0.390625vw);
}
