.grid,
.smBtnGroup {
  display: grid;
  gap: 10px;
}

.grid {
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.smBtnGroup {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.smBtnGroup a {
  aspect-ratio: 1 / 1;
}

.name {
  margin-left: 15px;
  width: 150px;
}
