/* display flex */
.flexStart,
.flexMid {
  align-items: center;
  display: flex;
}

/* no wrap */

.flexStart {
  justify-content: start;
}

.flexMid,
.flexMidWrap {
  justify-content: center;
}

/* wrap */
.flexMidWrap {
  flex-wrap: wrap;
}
