/* universal selectors */
html {
  background-color: #d9d9d9;
  box-sizing: border-box;

  color: black;

  font-family: "Cormorant Garamond", serif;
  font-size: calc(15px + 0.390625vw);
  margin: 0;

  padding: 10px;
}
* {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: inherit;
}

/* tag selectors */
h1 {
  font-size: calc(38px + 0.390625vw);
  font-weight: 900;
}
h2 {
  font-size: calc(25px + 0.390625vw);
  font-weight: 600;
}
h3 {
  font-size: calc(20px + 0.390625vw);
}

a {
  text-decoration: none;
}
hr {
  border-style: solid none none;
}
