/* wrappers */
/* layout block */
.layout {
  display: grid;
  gap: 10px;

  height: 500px;
  width: 100%;
}
/* layout modifiers */
.layout--sectionOne {
  grid-template-columns: auto 80%;
}

.changeTimeFrame {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.changeTimeFrame__menuAndChildren {
  flex: 1 1 auto;
  position: relative;
}

/* box block */
.box {
  background-color: white;
  border-radius: 5px;
  border-style: none;

  height: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* box modifiers */

.box--green,
.box--red {
  color: white;
}
.box--green {
  background-color: #306030;
}
.box--red {
  background-color: #fd5240;
}

.box--sharpCorners {
  border-radius: 0;
}

/* moneyFlow group */
.box--moneyFlow {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 7px;
  justify-content: center;
  padding: 10px;
}
.box--moneyFlow__block {
  gap: 5px;
  height: 100%;
  justify-content: center;
  width: 100%;
}
/* moneyFlow group end */

/* dropdown group */
.box--dropdown__btn {
  align-items: center;
  display: flex;
  flex: 0 0 60px;
  font-weight: 900;
  justify-content: center;
  margin-bottom: 10px;
}
.box--dropdown__btn:hover {
  outline-style: solid;
}

.box--dropdown__header {
  display: inline-block;
  width: 70%;
}
.box--dropdown__icon {
  height: 30px;
  width: 30px;
}

/* dropdown menu group */
.box--dropdown__menu {
  bottom: 0;

  overflow: hidden;
  padding: 0;
  position: absolute;
}

.box--dropdown__menu__btn:hover {
  background-color: black;
  color: white;
}
/* dropdown__menu group end */
/* dropdown group end */

/* display block */
.display--none {
  display: none;
}

/* making wrappers responsive */
@media (max-width: 900px) {
  .layout--sectionOne {
    grid-template-columns: auto 75%;
  }
}

@media (max-width: 750px) {
  .layout--sectionOne {
    grid-template-columns: auto 72%;
  }
}

@media (max-width: 700px) {
  .layout--sectionOne {
    grid-template-columns: 100%;
    grid-template-rows: 150px auto;
  }
  .changeTimeFrame,
  .box--moneyFlow {
    flex-flow: row;
  }
  .box--dropdown__btn {
    flex: 0 0 25%;
  }
  .box--moneyFlow__block {
    flex-flow: column;
  }
  .box--dropdown__btn {
    width: 200px;
    margin: 0 10px 0 0;
  }
}

@media (max-width: 550px) {
  .changeTimeFrame {
    flex-wrap: wrap;
  }
}
