.black {
  background-color: black;
  border-color: black;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.whiteWithOutline,
.whiteWithNoOutline {
  background-color: white;
}
.whiteWithOutline {
  border: 1px solid black;
}
.whiteWithNoOutline {
  border-style: none;
}

/* font color white */
.black,
.green,
.red {
  color: white;
}

/* font color black */
.whiteWithOutline,
.whiteWithNoOutline {
  color: black;
}
