/* grid block */
.grid {
  display: grid;
  gap: 10px;
}

/* grid modifier */
/* class group */
.grid--iconGroup {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid--iconGroup a {
  aspect-ratio: 1 / 1;
}
/* group end */

.grid--main {
  grid-template-columns: 45% auto;
  margin: 0 auto 20px;
}
.grid--nav {
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* grid element */
.grid__title {
  height: auto;
}

/* box block */
.box {
  align-items: center;
  border-radius: 11px;
  border-style: none;
  display: flex;
  justify-content: center;
}

/* box modifier */
.box--black,
.box--dropdown {
  background-color: black;
  color: white;
}
.box--dropdown {
  display: none;
  height: 65px;
}
.box--white {
  background-color: white;
}

/* box elements */
.box__icon {
  aspect-ratio: 1 / 1;
  margin: 2px;
  width: calc(45px + 0.390625vw);
}

/* media query's */
@media (min-width: 1700px) {
  /* grid modifiers */
  .grid--main {
    width: 1500px;
  }
}
@media (max-width: 1700px) {
  /* grid modifiers */
  .grid--main {
    width: 80%;
  }
}

@media (max-width: 1500px) {
  /* grid modifiers */
  .grid--main {
    width: initial;
  }
}

@media (max-width: 900px) {
  /* box modifiers */
  .box--dropdown {
    display: block;
  }

  /* grid modifiers */
  .grid--main {
    grid-template-columns: 100%;
  }

  /* grid element */
  .grid__title {
    aspect-ratio: 5 / 1.5;
  }
}

@media (max-width: 500px) {
  /* grid modifiers */
  .grid--nav {
    grid-template-columns: 100%;
  }

  /* grid element */
  .grid__title {
    aspect-ratio: 3 / 1.5;
  }
}
