/* box block */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
}

/* box modifier */
.box--black {
  background-color: black;
  color: white;
}
.box--white {
  background-color: white;
}

/* box elements */
.box__icon {
  aspect-ratio: 1 / 1;
}
.box__icon--large {
  width: calc(45px + 0.390625vw);
}

.box__title {
  height: 200px;
}
