.black {
    background-color: black;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.whiteWithOutline {
    background-color: white;
    border: 1px solid, black;
}
.whiteWithNoOutline {
    background-color: white;
}