.makeResponsive {
  align-items: center;
  border-radius: 5px;

  padding: 10px;
  box-sizing: border-box;
  position: relative;

  width: 100%;
}
.makeResponsive--white {
  background-color: white;
}
